<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarJetpackCompose"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".TopAppBarExample"
            android:exported="true"
            android:label="@string/title_activity_top_app_bar_example"
            android:theme="@style/Theme.BelajarJetpackCompose" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModalDrawerExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_modal_drawer_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ModalBottomActionSheetExample"
            android:exported="true"
            android:label="@string/title_activity_model_bottom_action_sheet_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CustomAlertDialogExample"
            android:exported="false"
            android:label="@string/title_activity_custom_alert_dialog_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ModifierExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_modifier_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CustomTextFieldExample"
            android:exported="false"
            android:label="@string/title_activity_custom_text_field_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextFieldExample"
            android:exported="false"
            android:label="@string/title_activity_text_field_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".SurfaceExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_surface_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CardExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_card_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ImageExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_image_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ButtonExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_button_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".GoogleButtonActivity"
            android:exported="false"
            android:label="@string/title_activity_text_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_text_field"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".RowColumnActivity"
            android:exported="false"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".BoxActivity"
            android:exported="false"
            android:label="@string/title_activity_box"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextExampleActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.BelajarJetpackCompose" />
    </application>

</manifest>