<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarJetpackCompose"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".NestedNavAppExample"
            android:exported="true"
            android:label="@string/title_activity_nested_nav_app_example"
            android:theme="@style/Theme.BelajarJetpackCompose" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationWIthArgumentsApp"
            android:exported="false"
            android:label="@string/title_activity_navigation_with_arguments_app"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".NavigationScreenAppExample"
            android:exported="false"
            android:label="@string/title_activity_navigation_screen_app_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".FloatingActionButtonExample"
            android:exported="false"
            android:label="@string/title_activity_floating_action_button_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TopNavBarExample"
            android:exported="false"
            android:label="@string/title_activity_top_nav_bar_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".BottomNavBarExample"
            android:exported="false"
            android:label="@string/title_activity_bottom_nav_bar_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ScaffoldExample"
            android:exported="false"
            android:label="@string/title_activity_scaffold_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".LazyGridExample"
            android:exported="false"
            android:label="@string/title_activity_lazy_grid_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".LazyColumnImageExample"
            android:exported="false"
            android:label="@string/title_activity_lazy_column_image_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".LazyRowColumnExample"
            android:exported="false"
            android:label="@string/title_activity_lazy_row_column_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".StateAndReComposititonExample"
            android:exported="false"
            android:label="@string/title_activity_state_and_re_composititon_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".BottomNavigationMenuExample"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation_menu_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".DropDownMenuExample"
            android:exported="false"
            android:label="@string/title_activity_drop_down_menu_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TopAppBarExample"
            android:exported="false"
            android:label="@string/title_activity_top_app_bar_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ModalDrawerExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_modal_drawer_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ModalBottomActionSheetExample"
            android:exported="false"
            android:label="@string/title_activity_model_bottom_action_sheet_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CustomAlertDialogExample"
            android:exported="false"
            android:label="@string/title_activity_custom_alert_dialog_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ModifierExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_modifier_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CustomTextFieldExample"
            android:exported="false"
            android:label="@string/title_activity_custom_text_field_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextFieldExample"
            android:exported="false"
            android:label="@string/title_activity_text_field_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".SurfaceExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_surface_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".CardExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_card_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ImageExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_image_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".ButtonExampleActivity"
            android:exported="false"
            android:label="@string/title_activity_button_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".GoogleButtonActivity"
            android:exported="false"
            android:label="@string/title_activity_text_example"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="MainActivity"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextFieldActivity"
            android:exported="false"
            android:label="@string/title_activity_text_field"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".RowColumnActivity"
            android:exported="false"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".BoxActivity"
            android:exported="false"
            android:label="@string/title_activity_box"
            android:theme="@style/Theme.BelajarJetpackCompose" />
        <activity
            android:name=".TextExampleActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.BelajarJetpackCompose" />
    </application>

</manifest>